<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>

    <link rel="stylesheet" href="css/Checkout/checkout.css">
    <script type="text/javascript" src="scripts/home/payment.js"></script> 
</head>
<body>
   <div class="left">
    <h1>Order Summary</h1>
    <p>Meal: <%= meal %> x<%= mquan %> </p>
    <p>Sides: <%= sides %> x<%= squan %> </p>
    <p>Drinks: <%= drink %> x<%= dquan %></p>
    <p>Total: <%= total %> </p>

    <br>
    <br>
    <br>
    
    <form onsubmit="submitForm(event)">
        <label for="amount">Amount to be paid:</label>
        <input type="number" id="amount" name="amount" min="<%= total %>" required>

        <!-- Hidden input fields to pass the values to JavaScript -->
        <input type="hidden" id="meal" value="<%= meal %>">
        <input type="hidden" id="sides" value="<%= sides %>">
        <input type="hidden" id="drink" value="<%= drink %>">
        <input type="hidden" id="mquan" value="<%= mquan %>">
        <input type="hidden" id="squan" value="<%= squan %>">
        <input type="hidden" id="dquan" value="<%= dquan %>">
        <input type="hidden" id="total" value="<%= total %>">
        <br>
        <br>
        <button type="button" onclick="window.history.back()">Cancel</button>
        <input type="submit" value="Pay">
    </form>
    </div>
    <div class="right">
        <img src="/images/checkout/confirmed.jpg" alt="" srcset="">
    </div>
</body>
</html>
