<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/home/cart.css">
    <script type="text/javascript" src="scripts/home/index.js"></script>
</head>
<body>
    <div class="menu-layer">
        <div class="main-layer">

            <!-- For head -->
            <%- include('partials/header-layer') %>

            <!-- Navigation layer -->
            <%- include('partials/navigation-layer') %>

            <!-- Tiles layer -->
            <%- include('partials/meals-layer') %>
            <%- include('partials/sides-layer') %>
            <%- include('partials/drinks-layer') %>

            <div class="cancel-layer">
                <div class="button-menu-container">
                    <button class = "button-cancel"id = "button-cancel" onclick="clearOrder()">Cancel</button>
                </div>
            </div>
        </div>
        <!-- FOR CART -->
        <div class="cart-container">
            <form method="post" action="/customer2">
                <label for="item">Main:</label>
                <input type="text" id="mainm" name="meal" required >
            
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity-m" name="mquan" min="1" required value=1>

                <label for="item">Drinks:</label>
                <input type="text" id="drinks" name="drink" required readonly>
            
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity-d" name="dquan" min="1" required value=1>

                <label for="item">Sides:</label>
                <input type="text" id="sides" name="sides" required readonly>
            
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity-s" name="squan" min="1" required value=1>

                <label for="item">Total:</label>
                <input type="text" id="total" name="total" min="1" required readonly value=0>
            
                <button type="submit">Add to Cart</button>
            </form>
        </div>
        <!-- END OF CART -->
    </div>
</body>
</html>